---
import SocialList from "@/components/SocialList.astro";
import ThemeToggle from "../ThemeToggle.astro";
---

<footer
	class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pb-4 pt-20 text-center align-top font-semibold text-gray-600 dark:text-gray-400 sm:items-start sm:justify-between sm:pt-4 sm:text-xs"
>
	<div class="flex justify-center align-middle">
		<SocialList />
		<ThemeToggle />
	</div>
</footer>
