---
import { menuLinks } from "@/site-config";
import Search from "../Search.astro";
import { Image } from "astro:assets";
import Avatar from "@/assets/avatar.png";
import { Icon } from "astro-icon/components";

const url = new URL(Astro.request.url);
---

<header
	class="group relative flex items-center justify-between sm:flex-col sm:items-end sm:gap-8"
	id="main-header"
>
	<div class="flex sm:flex-col">
		<a
			aria-current={url.pathname === "/" ? "page" : false}
			class="flex items-center grayscale hover:filter-none sm:flex-col"
			href="/"
		>
			<Image
				src={Avatar}
				class="ml-3 w-12 sm:ml-0 sm:w-full"
				loading="eager"
				alt="Meissam Rasouli Logo"
				aria-label="Meissam Rasouli Logo"
				role="img"
			/>
			<div class="mt-2 flex flex-col sm:items-end">
				<span class="text-md font-bold"> وبلاگ شخصی میثم رسولی</span>
				<span class="text-xs">یادداشت‌های یک برنامه‌نویس</span>
			</div>
		</a>
	</div>
	<div class="flex items-end sm:flex-col sm:gap-8">
		<nav
			aria-label="Main menu"
			class="absolute inset-x-4 top-14 hidden flex-col items-start gap-y-4 bg-header py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:items-end sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
			id="navigation-menu"
		>
			{
				menuLinks.map((link) => (
					<a
						aria-current={url.pathname === link.path ? "page" : false}
						class="py-4 capitalize underline-offset-2 sm:py-0 sm:hover:underline"
						data-astro-prefetch
						href={link.path}
					>
						{link.title}
					</a>
				))
			}
			<Search />
		</nav>

		<div class="sm:flex sm:divide-y">
			<mobile-button>
				<button
					aria-expanded="false"
					aria-haspopup="menu"
					aria-label="Open main menu"
					class="group relative ms-4 mt-2 h-8 w-8 sm:invisible sm:hidden"
					id="toggle-navigation-menu"
					type="button"
				>
					<Icon aria-hidden="true" class="h-5 w-5" focusable="false" name="line-md:menu" />
				</button>
			</mobile-button>
		</div>
	</div>
</header>

<script>
	import { toggleClass } from "@/utils/domElement";

	class MobileNavBtn extends HTMLElement {
		#menuOpen: boolean = false;

		connectedCallback() {
			const headerEl = document.getElementById("main-header")!;
			const mobileButtonEl = this.querySelector<HTMLButtonElement>("button");

			mobileButtonEl?.addEventListener("click", () => {
				if (headerEl) toggleClass(headerEl, "menu-open");
				this.#menuOpen = !this.#menuOpen;
				mobileButtonEl.setAttribute("aria-expanded", this.#menuOpen.toString());
			});
		}
	}

	customElements.define("mobile-button", MobileNavBtn);
</script>
