---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "صفحه مورد نظر یافت نشد",
	title: "404 - صفحه مورد نظر یافت نشد",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">۴۰۴ | راه گم کردی؟</h1>
	<p class="mb-8">چیزی که دنبال‌ش بودی اینجا نیست — فکر کنم مجبوری از منو پیداش کنی :)</p>
</PageLayout>
