---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { sortMDByDate, getPostsByCategory, Categories } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 5;
const allLeadershipPosts = sortMDByDate(await getPostsByCategory(Categories.Leadership)).slice(
	0,
	MAX_POSTS
);
const allSoftwareEngineeringPosts = sortMDByDate(
	await getPostsByCategory(Categories.SoftwareEngineering)
).slice(0, MAX_POSTS);
const allPersonalNotesPosts = sortMDByDate(
	await getPostsByCategory(Categories.PersonalNotes)
).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hi 👋. I'm Meissam.</h1>
		<p class="mb-4">
			A software engineer with a keen interest in art, culture, and science, welcome to my personal
			blog. Here, you'll discover my thoughts on software engineering, leadership, and beyond, along
			with some of my personal notes.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Leadership</h2>
		<ul class="space-y-4">
			{
				allLeadershipPosts.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						{/* @ts-ignore-next-line - issue with -> @astrojs/check@0.9.3 */}
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Software Engineering</h2>
		<ul class="space-y-4">
			{
				allSoftwareEngineeringPosts.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						{/* @ts-ignore-next-line - issue with -> @astrojs/check@0.9.3 */}
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Personal Notes</h2>
		<ul class="space-y-4">
			{
				allPersonalNotesPosts.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						{/* @ts-ignore-next-line - issue with -> @astrojs/check@0.9.3 */}
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
