---
import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Header from "@/components/layout/Header.astro";
import { siteConfig } from "@/site-config";
import type { SiteMeta } from "@/types";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { articleDate, description = siteConfig.description, title },
} = Astro.props;
---

<html class="scroll-smooth" lang={siteConfig.lang} dir="rtl">
	<head>
		<BaseHead articleDate={articleDate} description={description} title={title} />
	</head>

	<body class="min-h-screen bg-bgColor font-serif text-textColor antialiased">
		<div class="mx-auto max-w-4xl px-4 py-16">
			<div class="grid grid-cols-1 gap-20 sm:auto-rows-min sm:grid-cols-4">
				<!-- Sidebar (Header) -->
				<aside class="sm:sticky sm:top-16 sm:col-span-1 sm:h-[90vh] sm:self-start">
					<ThemeProvider />
					<SkipLink />
					<Header />
				</aside>

				<!-- Main Content -->
				<main id="main" class="prose prose-cactus sm:col-span-3">
					<slot />
				</main>
			</div>
		</div>
	</body>
</html>
